.form
  .new-message
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'input-box__text', placeholder: 'type a message', type: "text"
    .input-box
      = f.label :image, class: 'input-box__image' do
        = icon('far fa-image', class: 'icon')
        = f.file_field :image, class: 'input-box__image__file'
    = f.submit 'Send', class: 'submit-btn'